$color-white: #FFFFFF;
$color-black: #333333;

// Greys
$color-concrete: #F2F2F2;
$color-dove-grey: #6E6E6E;
$color-scorpion: #5B5B5B;

// ROYGBIV
$color-wild-watermelon: #FF5565;
$color-mint-green: #7AFF8D; 

//===== Assignments =====
$color-text: $color-dove-grey;
$color-success: $color-mint-green;
$color-fail: $color-wild-watermelon;
$color-background: $color-concrete;
$color-boarders: $color-scorpion;


