@import './colors.scss';
@import './modal.scss';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Futura", Futura, Helvetica, Arial, sans-serif;
	font-size: 10px;
}

section {
	height: 600px;
}

.keys {
	position: relative;
	width: 95%;
	top: 40%;
	margin: 0 auto;
	overflow: auto;
}

.key {
	position: relative;
	width: 14.28%;
	height: 300px;
	float: left;
	background-color: $color-background;
	border: 1px solid $color-boarders;
	border-radius: 0 0 5% 5%;
	color: $color-text-light;
	font-size: 1.1rem;
    font-size: 3vw;
	transition: all 0.1s ease;
}

.black {
	z-index: 2;
	position: absolute;
	left: 75%;
	width: 50%;
	height: 70%;
	background-color: $color-black;
}

.sound {
	position: relative;
	width: 50%;
	text-align: center;
	margin: 0 auto;
	top: 5%;
}

.note {
	position: relative;
	width: 50%;
	text-align: center;
	margin: 0 auto;
	top: 50%;
	font-size: 1.8rem; 
    font-size: 3.5vw;
}

.playing {
	background-color: $color-success;
}

.fail {
	background-color: $color-fail;
}

.targetNoteHolder {
	color: $color-text-dark;
	position: relative;
	width: 200px;
	text-align: center;
	margin: 0 auto;
}

#targetNote {
	font-size: 6rem;
	position: absolute;
}

.hidden {
	display: none;
}

/*.key > * {*/
	/*pointer-events: none;*/
/*}*/